<div id="main">
  <div id="word">
    <div>M</div>
    <div>A</div>
    <div>R</div>
    <div>I</div>
    <div>N</div>
    <div>A</div>
  </div>
  
  <div id="clickMe" (click)="onOpenImg()">
    clicka nimim!
    <img id="img" src="./assets/mama.jpg">
    <div id="close" (click)="onCloseImg(); $event.stopPropagation()">X</div>
  </div>
  
  <div id="footer">
    <p> 
      Deixa eu te perguntar uma coisa?
      <a (click)="onAnswer(true)">Sim</a>
      <a (click)="onAnswer(false)">Não</a>
    </p>
  </div>
</div>